h2{
    color:#069c77;
}
p{
    color:#069c77;
}
h4{
    color:#069c77;
}
.card .card-body .card-text{
    color:#069c77;
}
body{
    background: -webkit-linear-gradient(to right, rgba(247, 202, 201, 0.6), rgba(145, 168, 208, 0.6));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(247, 202, 201, 0.658), rgba(145, 168, 208, 0.6));
}
.card-body{
    background: -webkit-linear-gradient(to right,rgba(145, 168, 208, 0.6), rgba(247, 202, 201, 0.6));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(145, 168, 208, 0.6),rgba(247, 202, 201, 0.658) );
}
